extends ../layout

block content

  form#jumboForm.jumbotron_us(action="/register" method="post")
    .text-center.mb-4
     div
        img(src='../../stylesheets/img/logo_W.gif', alt='')
        .card-header Sign up  
          i.fas.fa-user-plus
    .form-label-group
      input#inputUser.form-control(type='text' name='username' placeholder='Username' required='' autofocus='' value=user?user.username:'')
    .form-label-group
      input#inputEmail.form-control(type='email' name='email' placeholder='Email' required='')
    .form-label-group
      input#inputpasswordConfirmar.form-control(type='password' name='password' placeholder='Password' required='')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Register
    .footer-copyright.text-center.py-3
      | &copy; 2018 Copyright:
      a(href='')  Quathfiles.com
