doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/styleDocuments.css')
    title Archivos
  body(onclick='myFunction(event)')
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='#')
          span
            img(src='img/logo_W_home.gif', alt='')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarColor02.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/')
                | Home 
                i.fas.fa-home

                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Contact us 
                i.far.fa-comment-alt
 
          form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='text', placeholder='Search')
            button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
    .content-area
      aside.main-aside
        .logo
          img(src='../../stylesheets/img/logo_W.gif', alt='Quathfiles logo', width='50%', height='40%')
          nav.vertical-menu
            ul
              li
                a(href='/users/profile') Página principal
              
                  i.fas.fa-file
              
              li
                a(href='/users/profile/todosLosArchivos') Archivos
                  i.fas.fa-archive


      main.main
        h2 Archivos 
          i.far.fa-folder-open

        .grid-columns-buttones
          .btn-group.btn-group-toggle.gridBoto(data-toggle='buttons')
            label.btn.btn-primary.active.Bottones
              input(type='radio', name='viewType')
              |  List View 
              i.fas.fa-list
            label.btn.btn-primary.active.Bottones
              input(type='radio', name='viewType')
              |  Grid View 
              i.fas.fa-th
          .form-group.form-group-mar
            .input-group.mb-3
              .custom-file
                input.custom-file-input(type='file', id='')
                label.custom-file-label(for='') Choose file 
                  i.fas.fa-folder-open

              .input-group-append
                span.input-group-text(id='') Upload
        table.table.table-hover
          thead
            tr
              th(scope='col') Nombre 
                i.fas.fa-user-edit

              th(scope='col') Modificado 
                i.fas.fa-user-cog

              th(scope='col') Miembros 
                i.fas.fa-user-plus

              th(scope='col') Favorite 
                i.fas.fa-user-tag


          tbody.getAllFiles
            tr.table-dark
              th(scope='row')
                i.fas.fa-file-pdf
                |                             Hola mundo.pdf
              td 20/11/2018 05:33 pm
              td Solo tú
              td.starred
                i.fas.fa-star
            tr.table-dark
              th(scope='row')
                i.fas.fa-file-word
                |                             Hola mundo.doc
              td 20/11/2018 05:33 pm
              td Solo tú
              td
                i.far.fa-star
        script(src="/javascript/main.js")
  script(src='/javascript/starred.js')
