doctype html
html
    head
    title= Archivo
    link(rel='stylesheet', href='/stylesheets/styleDocuments.css')
    
    doctype html(lang='en')
  
    body(onclick='myFunction(event)')
        header
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
                a.navbar-brand(href='#')
                span
                    img(src='img/logo_W_home.gif', alt='')
                |             
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
                |             
                #navbarColor02.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                    a.nav-link(href='#')
                        | Home 
                        span.sr-only (current)
                    |                     
                    li.nav-item
                    a.nav-link(href='#') Features
                    |                     
                    li.nav-item
                    a.nav-link(href='/contact') Contact us
                    |                     
                    li.nav-item
                    a.nav-link(href='#') About
                    |                     
                    li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Go to
                                            
                    .dropdown-menu(x-placement='bottom-start', style='position: absolute; transform: translate3d(0px, 46px, 0px); top: 0px; left: 0px; will-change: transform;')
                        a.dropdown-item(href='#') Action
                        |                             
                        a.dropdown-item(href='#') Another action
                        |                             
                        a.dropdown-item(href='#') Something else here
                        |                             
                        .dropdown-divider
                        |                             
                        a.dropdown-item(href='#') Separated link
                |                 
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='text', placeholder='Search')
                    |                     
                    button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
                
        .content-area
        aside.main-aside
            .logo
                img(src='../../stylesheets/img/logo.jpg' , alt='Quathfiles logo', width='50%', height='40%')
            |                 
            nav.vertical-menu
                ul
                    li
                        p Pagina principal
                    |                         
                    li
                        a(href='/users/profile/todosLosArchivos') Archivos
        |         
        main.main
            h2 Archivos
            |             
            .grid-columns-buttones
            .btn-group.btn-group-toggle.gridBoto(data-toggle='buttons')
                label.btn.btn-primary.active.Bottones
                input(type='radio', name='viewType')
                |  List View
                |                         
                i.fas.fa-list
                |                     
                label.btn.btn-primary.active.Bottones
                input(type='radio', name='viewType')
                |  Grid View
                |                         
                i.fas.fa-th
            |                 
            form.form-group.form-group-mar(action="/subir", method='POST', enctype="multipart/form-data")
                .input-group.mb-3
                    .custom-file
                        input#archivo.custom-file-input(type='file', name="archivo")
                        |                             
                        label.custom-file-label() Choose file
                    |                         
                    .input-group-append
                     input.input-group-text(type='submit', value="Upload")
            |             
            table.table.table-hover
                thead
                    tr
                        th(scope='col') Nombre
                                                
                        th(scope='col') Modificado
                                                
                        th(scope='col') Miembros
                                                
                        th(scope='col') Favorite
                tbody       
                    tr.table-dark
                        th(scope='row') Hola mundo.pdf
                                    
                        td 20/11/2018 05:33 pm
                                        
                        td Solo tu
                                                
                        td.starred
                           i.fas.fa-star
                                    
                    tr.table-dark
                        th(scope='row')
                            i.fas.fa-file-word
                            Hola mundo.doc
                                         
                        td 20/11/2018 05:33 pm
                                                
                        td Solo tu;
                                                
                        td
                            i.far.fa-star
             
    script(src='starred.js')
