doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    table 
        thead
          th no
          th nd
          th d
          th Opcviones 
        tbody.getAllFiles 

    script(src='../javascript/main.js')