extends layout

block content
  header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='#') QUATHFILES 
        i.fas.fa-folder
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor02' aria-controls='navbarColor02' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarColor02.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
        
          if(!user)
            li.nav-item
              a.nav-link(href='/login') Login 
                i.fas.fa-sign-in-alt
            li.nav-item
              a.nav-link(href='/register') Registrarse  
                i.fas.fa-user-plus
          if(user)
            li.nav-item
              a.nav-link(href='/users/profile') Sesion iniciada con: #{user.username} 
                i.fas.fa-user
            li.nav-item
              a.nav-link(href='/logout') Cerrar Sesion 
                i.fas.fa-user-alt-slash

            li.nav-item
              a.nav-link(href='/contact') Contactanos  
                i.far.fa-comment-alt

      
  .jumbotron
    h2.display-3 Nunca mas tendras que preocuparte por la organizacion!
    if(message)
      p #{message}
    p.lead
      | Con nuestros servicios la organizacion es lo nuesatro solo sube tus archivos y nosotros haremos el resto :D!
        
    hr.my-4
    p
      | Tecnologia de organizacion de ultima tecnologia
    p.lead
    a.btn.btn-primary.btn-lg(href='/register' role='button') Registrate ahora!
  .jumbotron
    h2.display-3 Hello, world!
    p.lead
      | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      | featured content or information.
    hr.my-4
    p
      | It uses utility classes for typography and spacing to space content out within the larger container.
    p.lead
      a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
  .jumbotron
    h2.display-3 Hello, world!
    p.lead
      | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      | featured content or information.
    hr.my-4
    p
      | It uses utility classes for typography and spacing to space content out within the larger container.
    p.lead
      a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
  // Footer
  footer.page-footer.font-small.stylish-color-dark.pt-4
    // Footer Links
    .container.text-center.text-md-left
      // Grid row
      .row
        // Grid column
        .col-md-4.mx-auto
          // Content
          h5.font-weight-bold.text-uppercase.mt-3.mb-4 Footer Content
          p
            | Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
            | consectetur
            | adipisicing elit.
        // Grid column
        hr.clearfix.w-100.d-md-none
        // Grid column
        .col-md-2.mx-auto
          // Links
          h5.font-weight-bold.text-uppercase.mt-3.mb-4 Links
          ul.list-unstyled
            li
              a(href='#!') Link 1
            li
              a(href='#!') Link 2
            li
              a(href='#!') Link 3
            li
              a(href='#!') Link 4
        // Grid column
        hr.clearfix.w-100.d-md-none
        // Grid column
        .col-md-2.mx-auto
          // Links
          h5.font-weight-bold.text-uppercase.mt-3.mb-4 Links
          ul.list-unstyled
            li
              a(href='#!') Link 1
            li
              a(href='#!') Link 2
            li
              a(href='#!') Link 3
            li
              a(href='#!') Link 4
        // Grid column
        hr.clearfix.w-100.d-md-none
        // Grid column
        .col-md-2.mx-auto
          // Links
          h5.font-weight-bold.text-uppercase.mt-3.mb-4 Links
          ul.list-unstyled
            li
              a(href='#!') Link 1
            li
              a(href='#!') Link 2
            li
              a(href='#!') Link 3
            li
              a(href='#!') Link 4
        // Grid column
      // Grid row
    // Footer Links
    // Social buttons
    ul.list-unstyled.list-inline.text-center
      li.list-inline-item
        a.btn-floating.btn-fb.mx-1(href='#')
          i.fab.fa-facebook
      li.list-inline-item
        a.btn-floating.btn-tw.mx-1(href='#!')
          i.fab.fa-twitter
      li.list-inline-item
        a.btn-floating.btn-gplus.mx-1(href='#!')
          i.fab.fa-google-plus-g
      li.list-inline-item
        a.btn-floating.btn-li.mx-1(href='#!')
          i.fab.fa-linkedin-in
      li.list-inline-item
        a.btn-floating.btn-dribbble.mx-1(href='#!')
          i.fab.fa-dribbble
    // Social buttons
    // Copyright
    .footer-copyright.text-center.py-3
      | &copy; 2018 Copyright:
      a(href='')  Quathfiles.com
    // Copyright
  // Footer