extends layout

block content
  form(action='/subir', method='post', enctype="multipart/form-data")
    .dsaasd
      input#archivo(type='file', name='archivo')
    .daasddas
      input(type='submit', value='upload')